# dev files
test_*
output_*

# secrets
.streamlit/secrets.toml
.env
users.json

# model / model weights
*.pt
*.safetensors

# data
_old/
dev/output/
dev/data/
tmp/
*.zip
*.csv
*.xlsx

# cache
.idea/
.DS_Store
__pycache__/
.localdev
.vscode/
.vscode-server/
.claude/

# build eggs
*.egg-info
build/

